<div class="footer text-center">
  <div class="footer-content">
  <% if I18n.locale == :en %>
    <a href="/en/saibaba"><%= I18n.t('.footer1') %></a>
    <a href="/en/don"><%= I18n.t('.footer2') %></a>
    <a href="/en/equipe"><%= I18n.t('.footer3') %></a>
    <a href="mailto:valerie.dousset@doceo-education.com,martine.banzet@doceo-education.com"><%= I18n.t('.footer4') %></a>
  <% else %>
    <a href="/saibaba"><%= I18n.t('.footer1') %></a>
    <a href="/don"><%= I18n.t('.footer2') %></a>
    <a href="/equipe"><%= I18n.t('.footer3') %></a>
    <a href="mailto:valerie.dousset@doceo-education.com,martine.banzet@doceo-education.com"><%= I18n.t('.footer4') %></a>
  <% end %>
  </div>
</div>

<div class="container">
  <p style="font-weight: lighter; text-align: center; margin-top: 15px;">© 2017 Doceo-Education</p>
  <div class="text-center">
  <a style="font-size: 11px; margin: auto; text-decoration: none; color: black;" href="https://www.hopwork.fr/profile/ghislainchavanne2">Powered by Ghislain Chavanne</a>
  </div>
</div>
