<div class="navbar-wagon navbar-wagon-fixed">
  <% if I18n.locale == :en %>
  <a href="/en" class="navbar-wagon-brand">
  <% else %>
  <a href="/" class="navbar-wagon-brand">
  <% end %>
    <%= image_tag('logo.png') %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Button (call-to-action) -->
    <% if I18n.locale == :en %>
    <a href="/en/saibaba" class="navbar-wagon-item navbar-button btn-hover btn"><%= I18n.t('.btn2') %></a>
    <a href="/en/don" class="navbar-wagon-item navbar-button btn-hover btn"><%= I18n.t('.btn1') %></a>
    <% else %>
    <a href="/saibaba" class="navbar-wagon-item navbar-button btn-hover btn"><%= I18n.t('.btn2') %></a>
    <a href="/don" class="navbar-wagon-item navbar-button btn-hover btn"><%= I18n.t('.btn1') %></a>
    <% end %>
    <!-- Text link -->
    <div class="language">
    <%= link_to locale: nil do %>
      <p style="font-size: 18px; color: white; margin-top: 8px;" class="navbar-wagon-item navbar-wagon-link">FR</p>
    <% end %>
    <!-- Text link -->
    <%= link_to locale: 'en' do %>
      <p style="font-size: 18px; color: white; margin-top: 8px;"  class="navbar-wagon-item navbar-wagon-link">EN</p>
    <% end %>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i style="color: white;" class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="/sabibaba"><%= I18n.t('.btn2') %></a></li>
        <li><a href="/don"><%= I18n.t('.btn1') %></a></li>
        <li><a href="/equipe"><%= I18n.t('.team') %></a></li>
      </ul>
    </div>
  </div>
</div>

