
<div class="banner-pages" style="background-color: #10263c;">
  <div class="banner-content-pages text-center">
    <h1>Vous êtes un particulier? <br> Faites un don</h1>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <h2 class="title-paragraph">Pourquoi donner à Docéo?</h2>
      <h4 class="title-paragraph">Sans vous, les enfants ne pourront pas terminer leur scolarité. <br>Il faut encore créer et ouvrir des classes de niveau supérieur (de la 2de à la Terminale). <br>Un enfant scolarisé c’est 400 euros par an.</h4>
      <p><strong><%= I18n.t('.don3') %></strong> <%= I18n.t('.don4') %></p>
      <p><strong><%= I18n.t('.don3') %></strong> <%= I18n.t('.don5') %></p>
      <p><strong><%= I18n.t('.don3') %></strong> <%= I18n.t('.don6') %></p>
      <p><strong><%= I18n.t('.don3') %></strong> <%= I18n.t('.don7') %></p>
      <p><strong><%= I18n.t('.don3') %></strong> <%= I18n.t('.don8') %></p>
  </div>
</div>

<div class="container text-center">
<h5 style="font-style: italic; font-weight: lighter;">« Vos dons bénéficient d’une déduction fiscale : 66 pour cent pour les particuliers et 60 pour cent pour les entreprises ».</h5>
<iframe id="haWidget" src="https://www.donnerenligne.fr/doceo/faire-un-don/2" style="width:100%; height:750px;border:solid 10px #008489; border-radius: 3px; padding: 30px; margin-bottom: 40px; "></iframe>
</div>


