<div class="banner-pages" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('banner.jpg') %>');">
  <div class="banner-content">
    <h1 style="border-left: 1px solid white; padding-left: 15px;"> DOCÉO
    <br><%= I18n.t('.title7') %> </h1>
  </div>
</div>

<div class="container">
  <div class="container-equipe">
    <h4 style="font-weight: lighter; text-align: justify; color: #484848;"> <%= I18n.t('.equipe1') %> <br> <br>

    <strong><%= I18n.t('.equipe2') %></strong> <br> <br>

    <%= I18n.t('.equipe3') %>.</h4>
  </div>
</div>

<div class="container">
  <div class="equipe-photos">
    <div class="equipe-details text-center">
      <%= image_tag('val.png', size: "200x200") %>
      <h4 style="font-weight: lighter; color: #484848;">Valérie Dousset <br> valerie.dousset@doceo-education.com</h4>
    </div>
    <div class="equipe-details text-center">
      <%= image_tag('martine.png', size: "200x200") %>
      <h4 style="font-weight: lighter; color: #484848;">Martine Banzet <br> martine.banzet@doceo-education.com</h4>
    </div>
  </div>
</div>

