<% content_for :meta_title, "Doceo Education - humanitarian association" %>
<% content_for :meta_description, "Join Doceo Education and help children to have full access to education" %>
<% content_for :meta_image, "banner.jpg" %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('banner.jpg') %>');">
  <div class="banner-content text-center">
    <h1>Venez soutenir Docéo Éducation pour promouvoir l’éducation des plus défavorisés.</h1>
  </div>
</div>

<div class="container">
  <h3 id="text-accroche">Doceo Education vise à donner aux enfants défavorisés les bases solides qui leur permettront d’affronter l’avenir avec confiance et d’accroitre ainsi leurs chances de réussite.</h3>
</div>

<div class="wrapper" style="background-color: #f4f4f4;">
  <div class="container">
    <h2 class="title-section">Le Projet de Docéo</h2>
    <div class="row">
      <div class="col-md-7 col-xs-12">
        <div class="sabibaba-resume">
          <%= image_tag('1.png') %>
          <h3 id="title-section">Saibaba Path Municipal School</h3>
          <h4 style="margin-top: 7px;">Docéo soutient Saibaba Path Municipal School (Mumbai – Inde). Cette école, fondée en 2009 est une école gratuite qui dispense des cours en anglais. Elle accueille 900 élèves âgés de 3 à 16 ans, issus du bidonville de Lalbaug à Bombay.</h4><br>
          <a class="btn-doceo" href="/saibaba">
            <%= I18n.t('.btn-decouvrez') %>
          </a>
        </div>
      </div>
      <div class="col-md-5 col-xs-12">
        <div class="don-resume">
          <%= image_tag('2.png') %>
          <h3 id="title-section"><%= I18n.t('.title-participation') %></h3>
          <h4 style="margin-top: 0px;"><%= I18n.t('.text-home-participation') %> </h4>
          <% if I18n.locale == :en %>
          <a style="text-decoration: none; cursor: pointer;" href="/en/don">
          <% else %>
          <a style="text-decoration: none; cursor: pointer;" href="/don">
          <% end %>
          <a class="btn-doceo" href="/don">
            Faites un don
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <h2 class="title-section">Les chiffres clefs</h2>
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <div class="card-chiffres">
          <div class="banner-chiffres" style="background-color: #10263c;">
            <div class="banner-content-pages text-center">
              <p style="font-size: 30px; color: white; font-weight: 700; font-family: 'Poppins', sans-serif;">150.000€</p>
            </div>
          </div>
          <p>Récoltés</p>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="card-chiffres">
          <div class="banner-chiffres" style="background-color: #10263c;">
            <div class="banner-content-pages text-center">
             <p style="font-size: 30px; color: white; font-weight: 700; font-family: 'Poppins', sans-serif;">150</p>
            </div>
          </div>
          <p>Nouveaux Élèves</p>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="card-chiffres">
          <div class="banner-chiffres" style="background-color: #10263c;">
            <div class="banner-content-pages text-center">
             <p style="font-size: 30px; color: white; font-weight: 700; font-family: 'Poppins', sans-serif;">3</p>
            </div>
          </div>
          <p>Classes Ouvertes</p>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="card-chiffres">
          <div class="banner-chiffres" style="background-color: #10263c;">
            <div class="banner-content-pages text-center">
             <p style="font-size: 30px; color: white; font-weight: 700; font-family: 'Poppins', sans-serif;">10</p>
            </div>
          </div>
          <p>8 professeurs et 2 psychologues et assistantes sociales recrutés</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper" style="background-color: #f4f4f4;">
  <div class="container">
    <h2 class="title-section">United Way Mumbay, Partenaire de Docéo</h2>
      <div class="text-center">
        <%= image_tag('uw.png') %>
      </div>
    <div style="display: flex; justify-content: center;">
      <a class="btn-doceo-alternatif" target="_blank" href="https://www.youtube.com/embed/SbPVDLOigXQ">Découvrez la vidéo</a>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container" >
    <h2 class="title-section">Ils se sont engagés</h2>
    <div class="row">
      <div class="col-xs-4 text-center">
        <%= image_tag('entreprise-une.png', class:"img-entreprise") %>
      </div>
      <div class="col-xs-4 text-center">
        <%= image_tag('entreprise-deux.png', class:"img-entreprise") %>
      </div>
      <div class="col-xs-4 text-center">
        <%= image_tag('entreprise-trois.png', class:"img-entreprise") %>
      </div>
    </div>
    <div style="display: flex; justify-content: center;">
      <a class="btn-doceo-alternatif" href="/don-entreprise">Engagez-vous à nos côtés</a>
    </div>
  </div>
</div>
