
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('banner.jpg') %>');">
  <div class="banner-content">
    <h1 style="border-left: 1px solid white; padding-left: 15px;"> Venez soutenir Docéo Éducation pour <br> promouvoir
    l’éducation des enfant <br> indiens les plus défavorisés.</h1>
  </div>
</div>

<div class="container">
  <h3 id="text-accroche"><i class="fa fa-quote-right" aria-hidden="true"></i> <strong>Docéo Éducation</strong> vise à donner aux enfants défavorisés les bases solides qui leur permettront d’affronter l’avenir avec confiance et d’accroitre ainsi leurs chances de réussite.</h3>
</div>

<div class="container">
  <div class="presentation">
    <div class="sabibaba-resume">
      <%= image_tag('sabiba.png') %>
      <h3 id="title-presentation">Saibaba Path Municipal School</h3>
      <h4 style="margin-top: 0px;">Docéo soutient Saibaba Path Municipal School (Mumbai – Inde). Cette école, fondée en 2009 par Educo est une école gratuite qui dispense des cours en anglais. Elle accueille 640 élèves âgés de 3 à 12 ans, issus du bidonville de Lalbaug à Bombay.</h4>
      <a style="text-decoration: none; cursor: pointer;" href="/sabibaba">
        <div class="btn-doceo">
          <h4>Découvrir le projet</h4>
        </div>
      </a>
    </div>
    <div class="don-resume">
      <%= image_tag('don.png') %>
      <h3 id="title-presentation">Participez</h3>
      <h4 style="margin-top: 0px;">Pour continuer à développer Saibaba Path Municipal School et y faire grandir ses élèves, supporter Docéo.</h4>
      <a style="text-decoration: none; cursor: pointer;" href="/don">
      <div class="btn-doceo">
        <h4>Faites un don</h4>
      </div>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="text-center partenaire-title">LES PARTENAIRES DE DOCÉO</h2>
  <div class="partenaire">
    <a style="text-decoration: none; cursor: pointer;" target="_blank" href="https://www.unitedwaymumbai.org/">
      <%= image_tag('uw.png') %>
    </a>
    <a style="text-decoration: none; cursor: pointer;" target="_blank" href="http://educo.ie/">
      <%= image_tag('educo.png') %>
    </a>
  </div>
</div>
