<% content_for :meta_title, "Doceo Education - humanitarian association" %>
<% content_for :meta_description, "Join Doceo Education and help children to have full access to education" %>
<% content_for :meta_image, "banner.jpg" %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('banner.jpg') %>');">
  <div class="banner-content text-center">
    <h1>Venez soutenir Docéo Éducation pour promouvoir l’éducation des plus défavorisés.</h1>
  </div>
</div>

<div class="container">
  <h3 id="text-accroche">Doceo Education vise à donner aux enfants défavorisés les bases solides qui leur permettront d’affronter l’avenir avec confiance et d’accroitre ainsi leurs chances de réussite.</h3>
</div>

<div class="wrapper" style="background-color: #e1e7ef;">
  <div class="container">
    <h2 class="title-section">Le Projet</h2>
    <div class="row">
      <div class="col-md-7 col-xs-12">
        <div class="sabibaba-resume">
          <%= image_tag('1.png') %>
          <h3 id="title-section">Saibaba Path Municipal School</h3>
          <h4 style="margin-top: 7px;">Docéo soutient Saibaba Path Municipal School (Mumbai – Inde). Cette école, fondée en 2009 est une école gratuite qui dispense des cours en anglais. Elle accueille 900 élèves âgés de 3 à 16 ans, issus du bidonville de Lalbaug à Bombay.</h4><br>
          <a class="btn-doceo" href="/saibaba">
            <%= I18n.t('.btn-decouvrez') %>
          </a>
        </div>
      </div>
      <div class="col-md-5 col-xs-12">
        <div class="don-resume">
          <%= image_tag('2.png') %>
          <h3 id="title-section"><%= I18n.t('.title-participation') %></h3>
          <h4 style="margin-top: 0px;"><%= I18n.t('.text-home-participation') %> </h4>
          <% if I18n.locale == :en %>
          <a style="text-decoration: none; cursor: pointer;" href="/en/don">
          <% else %>
          <a style="text-decoration: none; cursor: pointer;" href="/don">
          <% end %>
          <a class="btn-doceo" href="/saibaba">
            Faites un don
          </a>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <h2 class="title-section">Les chiffres clefs</h2>
  </div>
</div>

<div class="wrapper" style="background-color: #e1e7ef;">
  <div class="container" >
    <h2 class="title-section">Le Partenaire Docéo</h2>
    <div class="partenaire text-center">
      <a style="text-decoration: none; cursor: pointer;" target="_blank" href="https://www.unitedwaymumbai.org/">
        <%= image_tag('uw.png') %>
      </a>
    </div>
  </div>
</div>
