<div class="banner-pages" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('banner.jpg') %>');">
  <div class="banner-content">
    <h1 style="border-left: 1px solid white; padding-left: 15px;"> Saibaba Path Municipal School
    <br>Le projet </h1>
  </div>
</div>

<div class="wraper-mandela">
  <h3 id="text-accroche"><i class="fa fa-quote-left" aria-hidden="true"></i> L'éducation est l'arme la plus puissante qu'on puisse utiliser pour changer le monde <i class="fa fa-quote-right" aria-hidden="true"></i> <br>
  <strong>Nelson Mandela</strong></h3>
  <%= image_tag('child.gif') %>
</div>

<div class="wraper" style="background-color: #e1e7ef; padding-top: 30px; padding-bottom: 30px">
  <div class="container">
  <h2 class="text-center partenaire-title" style="margin-top: 0px;">Saibaba , une école académique de qualité, bilingue anglais, gratuite qui accueille les enfants défavorisés du Bidonville de Lalbaug (Mumbai).</h2>
  <div class="wraper-carousel-btn">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag('car.png', size: "500x400") %>
        </div>

        <div class="item">
          <%= image_tag('car1.png', size: "500x400") %>
        </div>

        <div class="item">
          <%= image_tag('car2.png', size: "500x400") %>
        </div>

        <div class="item">
          <%= image_tag('car3.png', size: "500x400") %>
        </div>
      </div>
    </div>
    <div class="btns">
      <%= image_tag('btns.png') %>
      <div type="button" class="btn-doceo btn-hover2" style="font-size: 20px; cursor: pointer;" data-toggle="modal" data-target=".bs-example-modal-lg1"><strong>POURQUOI SAIBABA</strong></div>
      <div type="button" class="btn-doceo btn-hover2" style="font-size: 20px; cursor: pointer;" data-toggle="modal" data-target=".bs-example-modal-lg3"><strong>SES CARACTÉRISTIQUES</strong></div>
      <div type="button" class="btn-doceo btn-hover2" style="font-size: 20px; cursor: pointer;" data-toggle="modal" data-target=".bs-example-modal-lg2"><strong>LE PROJET</strong></div>
    </div>
  </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= image_tag('favicon.png', size: "50x50") %>
      <h3>Saibaba, la réponse à un besoin pour les enfants défavorisés : Un enseignement de qualité et une éducation humaine.</h4>
      <h4>
      L’éducation est un enjeu majeur en Inde, un défi pour l'avenir.
      En 2010, l'Inde a adopté une loi sur le Droit à l'éducation garantissant à chaque enfant de 6 à 14 ans un enseignement gratuit et obligatoire.</h4>

      <h4>
      Mais le niveau d’enseignement dans les écoles publiques laisse encore à désirer : peu d’équipements de base, un nombre insuffisant d’enseignants souvent peu qualifiés…
      Cette loi donne accès à la Scolarisation mais pas à… l'Education !!
      Quelques chiffres :</h4>

      <h4><strong>
      50% des enfants abandonnent l’école vers l’âge de 10 ans
      Taux d’Alphabétisation en 2016 : 70% des hommes
      48% des femmes</strong></h4>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <%= image_tag('favicon.png', size: "50x50") %>
      <h3>Les besoins de Saibaba</h3>
      <h4>Poursuivre le développement de Saibaba pour y faire grandir ses élèves afin qu’ils ne retournent pas dans la rue : Ouvrir chaque année de nouvelles classes de niveau supérieur ( le grade 8 a été créé en 2017)</h4>
      <h4><strong>Docéo souhaite apporter son aide pour améliorer les conditions d’apprentissage:</strong></h4>
      <h4><i class="fa fa-check-square-o" aria-hidden="true"></i>Modernisation des locaux;</h4>
      <h4><i class="fa fa-check-square-o" aria-hidden="true"></i>Création de sanitaires;</h4>
      <h4><i class="fa fa-check-square-o" aria-hidden="true"></i>Matériel informatique;</h4>
      <h4><i class="fa fa-check-square-o" aria-hidden="true"></i>Création d’une Bibliothèque ( livres, bibliothécaire…) Cours d’art Cours de Musique Education physique Sports;</h4>
      <h4><i class="fa fa-check-square-o" aria-hidden="true"></i>Mise en place de Cours d’art, de Musique, d'éducation physique, de Sports.</h4>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <%= image_tag('favicon.png', size: "50x50") %>
      <h3>Saibaba, une école à l'éducation académique de qualité</h3>
      <h4><strong>Saibaba compte près de 650 élèves et offre à ces derniers un enseignement aux nombreuses qualités!</strong></h4>
      <h4>Un enseignement en Anglais dès la maternelle;</h4>
      <h4>Un encadrement professionnel et qualifié;</h4>
      <h4>Des enseignants diplômés et formés;</h4>
      <h4>2 professeurs par classe de 40 élèves, 3 en maternelle;</h4>
      <h4>Activités sportives et culturelles (art, musique);</h4>
      <h4>Un accueil ouvert toute l’année  y compris pendant les vacances</h4>
      <h4>Une éducation humaine pour accompagner les enfants:
      «  Give them love and Happiness »;</h4>
      <h4>Une éducation qui impacte les communautés environnantes;</h4>
      <h4>Participation et implication des parents à la vie de l’école;</h4>
      <h4>Interactivité et communication entre élèves, parents et professeurs;</h4>
      <h4>Accompagnement et suivi psychologique des enfants fragilisés;</h4>
      <h4>Apprentissage de l’hygiène et des règles de vie fondamentales.</h4>
    </div>
  </div>
</div>

<div class="wraper" style="margin: auto; margin-top: 60px; margin-bottom: 60px;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <iframe style="border: solid 10px #132c4a; border-radius: 2px;" width="300" height="200" src="https://www.youtube.com/embed/SbPVDLOigXQ" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-8">
        <br>
        <h3 class="partenaire-title" style="border-radius: 2px; box-shadow: 0 1px 2px rgba(0,0,0,0.07); padding: 10px; background-color: #e1e7ef;">UNITED WAY MUMBAY, PARTENAIRE DE <br> DOCÉO SUR CETTE OPÉRATION. <br> <i class="fa fa-play-circle" aria-hidden="true"></i></h3>
      </div>
    </div>
  </div>
</div>

