<div class="banner-pages" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('banner.jpg') %>');">
  <div class="banner-content">
    <h1 style="border-left: 1px solid white; padding-left: 15px;"> Saibaba Path Municipal School
    <br>Le projet </h1>
  </div>
</div>

<div class="wraper">
  <h3 id="text-accroche"><i class="fa fa-quote-right" aria-hidden="true"></i> L'éducation est l'arme la plus puissante qu'on puisse utiliser pour changer le monde <i class="fa fa-quote-left" aria-hidden="true"></i> <br>
  <strong>Nelson Mandela</strong></h3>
</div>

<div class="wraper" style="background-color: #e1e7ef; padding-top: 30px; padding-bottom: 30px">
  <div class="container">
  <h2 class="text-center partenaire-title" style="margin-top: 0px;">Saibaba , une école académique de qualité, bilingue anglais, gratuite qui accueille les enfants défavorisés du Bidonville de Lalbaug (Mumbai).</h2>
  <div class="wraper-carousel-btn">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag('car.png', size: "500x400") %>
        </div>

        <div class="item">
          <%= image_tag('car1.png', size: "500x400") %>
        </div>

        <div class="item">
          <%= image_tag('car2.png', size: "500x400") %>
        </div>

        <div class="item">
          <%= image_tag('car3.png', size: "500x400") %>
        </div>
      </div>
    </div>
    <div class="btns">
      <%= image_tag('btns.png') %>
      <div type="button" class="btn-yellow" style="font-size: 20px; cursor: pointer;" data-toggle="modal" data-target=".bs-example-modal-lg1"><strong>POURQUOI SAIBABA</strong></div>
      <div type="button" class="btn-bleu" style="font-size: 20px; cursor: pointer;" data-toggle="modal" data-target=".bs-example-modal-lg2"><strong>SES CARACTÉRISTIQUES</strong></div>
      <div type="button" class="btn-red" style="font-size: 20px; cursor: pointer;" data-toggle="modal" data-target=".bs-example-modal-lg3"><strong>LE PROJET</strong></div>
    </div>
  </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <h4>Saibaba, la réponse à un besoin pour les enfants défavorisés : Un enseignement de qualité et une éducation humaine.
      L’éducation est un enjeu majeur en Inde, un défi pour l'avenir.
      En 2010, l'Inde a adopté une loi sur le Droit à l'éducation garantissant à chaque enfant de 6 à 14 ans un enseignement gratuit et obligatoire.
      Mais le niveau d’enseignement dans les écoles publiques laisse encore à désirer : peu d’équipements de base, un nombre insuffisant d’enseignants souvent peu qualifiés…
      Cette loi donne accès à la Scolarisation mais pas à… l'Education !!
      Quelques chiffres :
      50°/° des enfants abandonnent l’école vers l’âge de 10 ans
      Taux d’Alphabétisation en 2016 : 70% des hommes
      48% des femmes</h4>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
</h4>Poursuivre le développement de Saibaba pour y faire grandir ses élèves afin qu’ils ne retournent pas dans la rue :
 Ouvrir chaque année de nouvelles classes de niveau supérieur ( le grade 8 a été créé en 2017).
Améliorer les conditions d’apprentissage :
Modernisation des locaux
Création de sanitaires
Matériel informatique
Créer des activités culturelles et sportives :
 Création d’une Bibliothèque ( livres, bibliothécaire…)
Cours d’art
Cours de Musique
Education physique
Sports <h4>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <h4>Saibaba c’est : 650 élèves, X classes, X enseignants
      Une éducation académique de qualité :
      Un enseignement en Anglais dès la maternelle
      Un encadrement professionnel et qualifié
      Des enseignants diplômés et formés
      2 professeurs par classe de 40 élèves, 3 en maternelle
      Activités sportives et culturelles (art, musique)
      Un accueil ouvert toute l’année  y compris pendant les vacances
      Une éducation humaine pour accompagner les enfants:
      «  Give them love and Happiness »
      Une éducation qui impacte les communautés environnantes
      Participation et implication des parents à la vie de l’école
      Interactivité et communication entre élèves, parents et professeurs
      Accompagnement et suivi psychologique des enfants fragilisés
      Apprentissage de l’hygiène et des règles de vie fondamentales</h4>
    </div>
  </div>
</div>

<div class="wraper">
  <div class="container">
  <div class="projet-container">
    <div class="projet-text">
    <h4 style="font-weight: lighter;">
      <strong>Contribuez à la prise en charge annuelle de la scolarité d’1 ou de plusieurs enfants. Cout annuel / enfant = 400€
      Faire un Don : montant libre
      Je donne  X€ 1 fois
      Je donne X€ tous les mois

      Devenir Partenaire :
      Grandes entreprises, Fondations d’entreprises, PME, TPE…quelle que soit la structure et la taille de votre organisation, Engagez vous à nos côtés autour d’objectifs communs.
      Dons financiers, Dons en nature, Mécénat de compétences, Actions de solidarité avec les collaborateurs.
      Partagez nos valeurs de solidarité, mobilisez vos collaborateurs :
      Soutenez nous !

      Vos dons bénéficient d’une déduction fiscale
       de 65°/° pour les particuliers
      60°/° pour les entreprises

      En France Helloasso
      UK mydonate
      <strong>Donner à Docéo, c'est aussi investir au côté d'acteurs majeurs de l'action humanitaire mondiale.</strong></h4>
  <a style="text-decoration: none; cursor: pointer;" href="/don">
  <div class="btn-doceo btn-hover" style="margin-top: 40px;">
  <h4>Faites un don</h4>
  </div>
  </a>
    </div>
    <div class="projet-photos">
      <div class="flex-photo">
        <%= image_tag('img1.png', size: "165x125") %>
        <%= image_tag('img2.png', size: "165x125") %>
        <%= image_tag('img3.png', size: "165x125") %>
      </div>
    </div>
  </div>
  </div>
</div>

