<div class="banner-pages" style="background-color: #10263c;">
  <div class="banner-content text-center">
    <h1>Saibaba School<br><%= I18n.t('.title4') %></h1>
  </div>
</div>

<div class="wrapper-mandela">
  <h3 id="text-accroche"><i class="fa fa-quote-left" aria-hidden="true"></i> <%= I18n.t('.mandela') %> <i class="fa fa-quote-left" aria-hidden="true"></i><br>
  <span style="font-weight: 300; font-size: 18px">Nelson Mandela</span></h3>
</div>

<div class="wrapper" style="background-color: #f4f4f4;">
  <div class="container">
    <h2 class="title-section">Saibaba School</h2>
    <div class="row text-center">
      <div class="col-md-4 col-xs-12">
        <div type="button" data-toggle="modal" data-target=".bs-example-modal-lg1" style="cursor: pointer">
        <div class="card-saibaba">
          <div class="banner-saibaba" style="background-image: url('<%= image_path('car.png') %>');">
          </div>
          <p>Pourquoi Saibaba?</p>
        </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div type="button" data-toggle="modal" data-target=".bs-example-modal-lg3" style="cursor: pointer">
          <div class="card-saibaba">
            <div class="banner-saibaba" style="background-image: url('<%= image_path('car2.png') %>');">
            </div>
            <p>Ses caractéristiques</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div type="button" data-toggle="modal" data-target=".bs-example-modal-lg2" style="cursor: pointer">
          <div class="card-saibaba">
            <div class="banner-saibaba" style="background-image: url('<%= image_path('car3.png') %>');">
            </div>
            <p>Ses besoins</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <h3 class="title-section"><%= I18n.t('.modal1-title') %></h3>
      <h4><%= I18n.t('.modal1-text1') %></h4>
      <h4><strong><%= I18n.t('.mais') %></strong> <%= I18n.t('.modal1-text2') %></h4>
      <h4><%= I18n.t('.modal1-text3') %></h4>
      <h4><%= I18n.t('.modal1-text4') %></h4>
      <h4><%= I18n.t('.modal1-text5') %></h4>
      <h4><%= I18n.t('.modal1-text6') %></h4>
      <h4><strong><%= I18n.t('.modal1-text7') %></strong></h4>

    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <h3 class="title-section"><%= I18n.t('.modal2-title') %></h3>
      <h4><strong>En 2019 de nombreux projets restent à financer :</strong></h4>
      <h4><i class="fa fa-check-square-o" aria-hidden="true"></i> L’ouverture du Grade 10: Préparation aux examens d’Etat indien (500€/enfants, 40 élèves environ)</h4>
      <h4><i class="fa fa-check-square-o" aria-hidden="true"></i> Recrutement de professeurs diplômés</h4>
      <h4><i class="fa fa-check-square-o" aria-hidden="true"></i> Modernisation de la salle informatique</h4>
      <h4><i class="fa fa-check-square-o" aria-hidden="true"></i> Développement de la section Sports</h4>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <h3 class="title-section"><strong><%= I18n.t('.modal3-title') %></strong></h3>
      <h4><strong><%= I18n.t('.modal3-text') %></strong>  </h4>
      <h4>- <%= I18n.t('.modal3-text1') %></h4>
      <h4>- <%= I18n.t('.modal3-text2') %></h4>
      <h4>- <%= I18n.t('.modal3-text3') %></h4>
      <h4>- <%= I18n.t('.modal3-text5') %></h4>
      <h4>- <%= I18n.t('.modal3-text6') %></h4>
      <h4>- <%= I18n.t('.modal3-text13') %></h4>
      <h4>- <%= I18n.t('.modal3-text7') %></h4><br>
      <h4><strong><%= I18n.t('.modal3-text8') %></strong></h4>
      <h4>- <%= I18n.t('.modal3-text9') %></h4>
      <h4>- <%= I18n.t('.modal3-text10') %></h4>
      <h4>- <%= I18n.t('.modal3-text11') %></h4>
      <h4>- <%= I18n.t('.modal3-text12') %></h4>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container" style="padding: 25px;">
  <p style="text-align: justify; color: white; background-color: #10263c; padding: 30px;">Docéo participe à la définition des priorités et des tâches à financer, intervient sur les grandes orientations des projets qu’il finance, garantit la transparence dans l’utilisation des fonds. Docéo s’appuie sur des ONG présentes à Bombay (United Way of India) qui assurent un relai local. Les frais de fonctionnement de Docéo sont limités au strict minimum (en 2017, 98% des fonds collectés ont été consacrés au financement de l’école).</p>
  </div>
</div>

<div class="wrapper" style="background-color: #f4f4f4;">
  <div class="container">
   <h2 class="title-section">United Way Mumbay, Partenaire de Docéo</h2>
    <div class="text-center">
      <iframe class="text-center" style="text-align: center; border: solid 10px #10263c; margin: auto;" width="350" height="300" src="https://www.youtube.com/embed/SbPVDLOigXQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<!-- <div class="wrapper" style="background-color: #f4f4f4;">
  <div class="container">
  <h2 class="title-section">Saibaba School</h2>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6 hidden-xs text-center">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <%= image_tag('car.png', size: "500x400") %>
              </div>
              <div class="item">
                <%= image_tag('car1.png', size: "500x400") %>
              </div>
              <div class="item">
                <%= image_tag('car2.png', size: "500x400") %>
              </div>
              <div class="item">
                <%= image_tag('car3.png', size: "500x400") %>
              </div>
            </div>
          </div>
        </div>
      <div class="col-md-6 col-xs-12">
        <div class="btns">
          <%= image_tag('btns.png') %>
          <div type="button" class="btn-doceo btn-hover2" data-toggle="modal" data-target=".bs-example-modal-lg1">Pourquoi Saibaba</div>
          <div type="button" class="btn-doceo btn-hover2" data-toggle="modal" data-target=".bs-example-modal-lg3">Ses caractéristiques</div>
          <div type="button" class="btn-doceo btn-hover2" data-toggle="modal" data-target=".bs-example-modal-lg2">Ses besoins</div>
        </div>
      </div>
    </div>
  </div>
</div> -->
